<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>

        <link href="shop.css" rel="stylesheet">
    </head>
    <body>
        <head>
            <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
            <script src="https://kit.fontawesome.com/ac7a4b981f.js" crossorigin="anonymous"></script>
          </head>
           
          
          <header class="tracking-wide bg-transparent">
            <nav class="flex justify-between mt-4">
              <div class="text-xl"> 
                <a href="#" class="ml-16 mr-4 hover:text-blue-800"><i class="fas fa-bars"></i></a>
                <a href="#" class="hover:text-blue-800"><i class="fas fa-search"></i></a>
              </div>
              <div class="heading"><u><h3 class="text-4xl font-bold">VET CONNECT SHOP</h3></u></div>
              
              <div class="text-xl"> 
                <a href="#" class="hover:text-blue-800"><i class="fas fa-user"></i></a>
                <a href="#" class="mr-16 ml-4 hover:text-blue-800"><i class="fas fa-shopping-cart"></i></a>
              </div> <!--end of left nav-->
            </nav>
            </header>
          
          <body class="tracking-wide">
          
            
          <div class="mt-12 flex justify-between mb-6">
              <h2 class="text-2xl mx-16 font-semibold">Shop All Products</h2>
              <div class="mx-16">
                <span class="mr-4">6 items</span>
                <select id="dropdown" class="py-6">
                  <option disabled selected value class="bg-white p-4">Sort by</option>
                  <option>Dog Products</option>
                  <option>Cat Products</option>
                  <option>Lowest Price</option>
                  <option>Highest Price</option>
                </select>
              </div>
            </div>
            
            <div class="grid lg:grid-cols-4 sm:grid-cols-1 md:grid-cols-2 mx-16 gap-8">
              <div class="flex flex-col bg-gray-100">
                <img src="https://images.ctfassets.net/p3w8f4svwgcg/2HNEsucEUavVW1XwhBGCdz/524ce95ba277fec17df5d052d6665502/BoyBrow_0_1.jpg?w=1400&q=80" class="" alt="Boy Brow">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Boy Brow</a>
                  <a href="#" class="font-light default:text-gray-900">grooming pomade</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$16</span>
                </button>
              </div>
              
              <div class="flex flex-col bg-gray-100">
                <img src="https://images.ctfassets.net/p3w8f4svwgcg/3pkpOFantfCIBFBEZZmUKE/eba8dd3906d5e7502b902d652ebe559a/CloudPaint.jpg?w=1400&q=80" class="" alt="Cloud Paint">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Cloud Paint</a>
                  <a href="#" class="font-light default:text-gray-900">seamless cheek color</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$18</span>
                </button>
              </div>
              
              <div class="flex flex-col bg-gray-100">
                <img src="https://images.ctfassets.net/p3w8f4svwgcg/6f2qw85pNvFa5ff2rGb2Kz/bfa19b931da0c429c7a879ef5aec2e9b/hand-generationg-jam-portrait.jpg?w=1400&q=80" class="" alt="Generation G">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Generation G</a>
                  <a href="#" class="font-light default:text-gray-900">sheer matte lipstick</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$18</span>
                </button>
              </div>
              
              <div class="flex flex-col bg-gray-100">
                <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/365/portrait_normal/Holiday2020_Gold-LipGloss_Hover.jpg?1606906156=&w=600&q=80" class="" alt="Lip Gloss">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Lip Gloss</a>
                  <a href="#" class="font-light default:text-gray-900">cushiony glassy shine</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$14</span>
                </button>
              </div>
              
              <div class="flex flex-col bg-gray-100">
                <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/883/portrait_normal/browflick_hover.jpg?1559149981=&w=600&q=80" class="" alt="Brow Flick">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Brow Flick</a>
                  <a href="#" class="font-light default:text-gray-900">microfine detailing pen</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$18</span>
                </button>
              </div>
              
              <div class="flex flex-col bg-gray-100">
                <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/353/portrait_normal/lashslick_wand_hand.jpg?1551585165=&w=600&q=80" class="" alt="Lash Slick">
                <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                  <a href="#" class="text-lg font-medium">Lash Slick</a>
                  <a href="#" class="font-light default:text-gray-900">film form mascara</a>
                </div>
                <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                  <span class="mx-4 text-sm">Add to Cart</span>
                  <span class="mx-4 text-sm">$16</span>
                </button>
              </div>
            </div>
            
          </body>
          
          <footer class="bg-black mt-16 pb-24 pt-12 tracking-wide">
            <div class="inline-flex bg-black ml-16 mb-20">
              <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fwp-content%2Fblogs.dir%2F6%2Ffiles%2F2018%2F08%2Fglossier-chicago-pop-up-interior-makeup-skincare-4.jpg?q=75&w=1000&cbr=1&fit=max" class="self-center rounded-full block w-24 h-24" alt="Glossier Store">
              <div class="flex flex-col ml-8 self-center">
                <span class="text-white text-2xl">More about our stores</span>
                  <div class="space-x-4 text-sm underline text-white">
                    <a href="#" class="transition duration-500 hover:text-gray-600">New York</a>
                    <a href="#" class="transition duration-500 hover:text-gray-600">Los Angeles</a>
                    <a href="#" class="transition duration-500 hover:text-gray-600">All stores & popups</a>
                  </div>
              </div>
            </div>
            <div class="flex justify-around">
              <div class="max-w-xl">
                <p class="text-white">We also make emails.</p>
                <p class="text-white font-light">Receive email updates on stuff you’ll probably want to know about, including products, launches, and events. Unsubscribe anytime.</p>
                <input type="email" placeholder="Your Email" class="mt-4 bg-black border border-solid border-gray-100 rounded-md w-full p-2">
              </div>
              <div class="uppercase flex flex-row space-x-24">
                <div class="flex flex-col text-xs space-y-4">
                  <span class="text-gray-600">About Glossier</span>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">About us</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Careers</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Company blog</a>
                </div>
                <div class="flex flex-col text-xs space-y-4">
                  <span class="text-gray-600">Help</span>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Contact</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Redeem gift card</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Returns & exchanges</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Help & FAQ</a>
                </div>
                <div class="flex flex-col text-xs space-y-4">
                  <span class="text-gray-600">More</span>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Into the gloss</a>
                  <a href="#" class="transition duration-500 text-white hover:text-gray-600 hover:underline">Free stuff</a>
                </div>
              </div>
            </div>
          </footer>